.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo {
  text-align: center;
}

.nav-link {
  background-color: mediumpurple;
  border: 1px solid mediumpurple;
  color: white;
  padding: 10px 10px;
  width: 205px;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  float: left;
  text-decoration: none;
  font-size: 30px;
}
.nav-link:not(:last-child) {
  margin-right: 5px;
}

.nav-link:hover {
  background-color: peachpuff;
  color: mediumpurple;
}

.center {
  width: 1400px;
}
.activeRoute {
  background-color: peachpuff;
  border-bottom: 0.4rem solid mediumpurple;
  cursor: not-allowed;
}
.page-container {
  border-radius: 3px;
  background-color: skyblue;
  margin-top: 65px;
  padding-top: 10px;
  color: white;
  font-family: Damascus;
  padding-bottom: 30px;
  margin-bottom: 50px;
}

.page-container h1 {
  height: 50px;
  font-size: 50px;
  text-decoration: underline;
}

.information-list li {
  text-align: left;
  font-size: 50px;
  list-style-type: none;
  margin-bottom: 30px;
}

.page-container a {
  color: white;
}

.major-header {
  height: 15px;
  text-align: left;
  margin-left: 50px;
  font-size: 50px;
}

.page-container dt {
  height: 50px;
  text-align: left;
  font-size: 40px;
  font-weight: bold;
  margin-left: 120px;
}
.page-container button {
  font-size: 30px;
  background-color: mediumpurple;
  color: white;
  border-radius: 5px;
  margin: 30px 50px 20px 50px;
}

.courses {
  margin: 30px 50px 30px 50px;
  padding: 20px;
  background-color: peachpuff;
  color: mediumpurple;
  border-radius: 5px;
}
.courses-table {
  table-layout: fixed;
}
.courses-table td {
  padding-left: 85px;
  width: 300px;
  height: 125px;
  font-size: 30px;
  font-weight: bold;
}

.other-work-div {
  border-radius: 3px;
  background-color: skyblue;
  color: white;
}
.work-table {
  text-align: left;
  padding-left: 10px;
  table-layout: fixed;
  background-color: peachpuff;
  margin: 15px 50px 10px 50px;
  border-radius: 5px;
  color: mediumpurple;
  width: 1300px;
  height: 500px;
}
.work-table td {
  width: 400px;
  vertical-align: top;
  padding-right: 35px;
}
.work-table li {
  font-weight: bold;
  padding-top: 40px;
  font-size: 30px;
}

.work-table h2 {
  font-size: 40px;
  height: 30px;
}
.work-table h3 {
  font-size: 35px;
  height: 10px;
}
.work-table h4 {
  font-size: 30px;
  height: 10px;
}

.project-title {
  margin-left: 50px;
  margin-right: 50px;
  height: 30px;
  font-size: 50px;
}
.project-description {
  text-align: left;
  font-size: 30px;
  margin: 30px 50px 30px 50px;
  padding: 20px;
  background-color: peachpuff;
  color: mediumpurple;
  border-radius: 5px;
  line-height: 55px;
}

.project-images-table {
  margin-left: 50px;
  margin-right: 50px;
}

.project-images-table img {
  margin-bottom: 30px;
  width: 320px;
  border-radius: 30px;
}

.skill {
  display: inline-block;
  font-size: 55px;
  height: 10px;
}

.skill-header {
  background-color: peachpuff;
  padding: 10px;
  height: 50px;
  font-size: 40px;
  color: mediumpurple;
  border-radius: 5px;
  margin: 30px 290px auto 290px;
}

.skill-level-header {
  height:5px;
  text-align: right;
  margin: 40px 275px auto;
  font-size: 30px;
}

.circle-fill {
  height: 50px;
  width: 50px;
  background-color: peachpuff;
  border: 2px solid  mediumpurple;
  border-radius: 50%;
  display: inline-block;
}

.circle {
  height: 50px;
  width: 50px;
  border: 2px solid  mediumpurple;
  border-radius: 50%;
  display: inline-block;
}